#logo {
    font-family: cursive;
}

.aboutIMG_1 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../Images/ladyFarmer.jpeg');
}

.aboutIMG_2 {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../Images/aboutMeal.jpg');
}

.aboutHeader {
    text-align: center;
    margin: 5%;
}

.aboutTXT {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 7%;
}

.jumbotron {
    margin-bottom: 0px;
 }

.aboutLogo {
    margin-left: 15%;
    font-size: 7vw;
}

.aboutButton {
    text-align: center;
}

.contactPrompt {
    text-align: center;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

textarea {
    resize: none;
}

#login_error {
    text-align: center;
    color: red;
}
